// headers
$HeaderOne: 9.375rem;
$HeaderTwo: 6.25rem;
$HeaderThree: 3.5rem;
$HeaderFour: 2rem;
$HeaderFive: 1.75rem;
// colors
$primary: #0b0d17;
$secondary: #d0d6f9;
$white: #ffffff;
$Hovered: rgba(255, 255, 255, 0.04);
// Page Highlight
#douglas,
#mark,
#victor,
#anousheh {
	background-color: $white;
}
// General styling
body {
	padding: 0;
	margin: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url(../assets/crew/background-crew-mobile.jpg) no-repeat center center/
			cover;
	font-weight: 400;
}
// Page Activity Name
.meet-your-crew {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: white;
	margin: 2rem 0 0 0;

	span {
		font-size: 1.27rem;
		font-family: bellefair;
		font-weight: 500;
		letter-spacing: 0.2rem;
		opacity: 0.25;
		font-size: clamp(1rem, 4vw, $HeaderFive);
	}
}
// Container
.crew-info-container {
	padding: 0 2rem;
	padding-bottom: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.image-container {
		margin: 3rem auto;
		width: 9.62rem;
		height: 13.875rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&.other {
			width: 12rem;
			height: 14rem;
		}

		&::after {
			position: absolute;
			bottom: 0;
			content: "";
			height: 10px;
			width: 250px;
			padding: 0 3rem;

			border-bottom: 0.0625rem solid #383b4b;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// Crew About
	.crew-about {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 2rem;
	}
	// Crew Nav
	.crew-nav {
		display: flex;
		align-items: center;
		gap: 1rem;

		a {
			border-radius: 50%;
			width: 0.8rem;
			height: 0.8rem;
			background-color: rgba(255, 255, 255, 0.2);

			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}

			&:active {
				background-color: $white;
			}
		}
	}
	// Crew Text
	.crew-text {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		text-align: center;

		.sub-header-one {
			font-size: 1rem;
			color: $white;
			letter-spacing: 2px;
			font-family: bellefair;
			font-weight: 400;
			opacity: 0.5;
		}

		p {
			text-align: center;
			font-size: 0.9375rem;
		}
	}
}
// For Tablets
@media screen and (min-width: 768px) {
	body {
		background: url(../assets/crew/background-crew-tablet.jpg) no-repeat center
			center/ cover;
	}

	.meet-your-crew {
		justify-content: flex-start;
		font-size: 1.2rem;
		margin: 2rem 2rem 5rem;

		span,
		h5 {
			font-size: inherit;
		}
	}

	.crew-info-container {
		height: auto;
		padding-bottom: 0;

		.image-container {
			order: 2;
			justify-self: flex-end;
			margin: 2.8rem auto 0;
			width: 23.05331rem;
			height: 33.25rem;

			&.other {
				width: 29.05331rem;
				height: 35.25rem;
			}

			&::after {
				display: none;
			}
		}
	}

	.crew-about {
		padding: 0 7rem;
		.crew-nav {
			order: 3;
		}
	}
}
// For Desktop
@media screen and (min-width: 1050px) {
	body {
		background: url(../assets/crew/background-crew-desktop.jpg) no-repeat center
			center/ cover;
		min-height: 100vh;
	}

	.crew {
		max-width: 80%;
		margin: 0 auto;
	}

	.meet-your-crew {
		margin: 0;
		width: fit-content;
		position: relative;
		top: 1.5rem;
	}

	.crew-info-container {
		flex-direction: row;
		align-items: center;
		padding: 0;

		.image-container {
			margin: 0;
			width: 50.34rem;

			img {
				object-fit: cover;
			}

			&.other {
				width: 95rem;

				img {
					object-fit: cover;
				}
			}
		}

		.crew-about {
			padding: 0;
			align-items: stretch;
			justify-content: flex-start;
			gap: 2rem;
			padding-right: 6rem;

			.crew-nav {
				position: relative;
				top: 5rem;
			}

			.crew-text {
				text-align: left;
				.sub-header-one {
					font-size: 1.5rem;
				}

				h4 {
					font-size: 3rem;
				}
				p {
					text-align: left;
					padding-right: 6rem;
				}
			}
		}
	}
}
