// headers
$HeaderOne: 9.375rem;
$HeaderTwo: 6.25rem;
$HeaderThree: 3.5rem;
$HeaderFour: 2rem;
$HeaderFive: 1.75rem;

// sub header
$SubHeading1: 1.75rem;
$SubHeading2: 0.875rem;

// colors
$primary: #0b0d17;
$secondary: #d0d6f9;
$white: #ffffff;
$Hovered: rgba(255, 255, 255, 0.04);

.sub-header-one {
	font-size: $SubHeading1;
}
.sub-header-two {
	font-size: $SubHeading2;
}

#moon,
#mars,
#europa,
#titan {
	border-bottom: 3px solid white;
}

body {
	background: url(../assets/destination/background-destination-mobile.jpg)
		no-repeat center center/ cover;
	font-weight: 400;
}
// Container
.destination-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 2rem;
	width: fit-content;
	padding-bottom: 4rem;
}

.column-one {
	width: 100%;
	flex-shrink: 0;
	.pick-your-destination {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		color: white;
		margin: 1rem 0;

		span {
			font-size: 1.27rem;
			font-family: bellefair;
			font-weight: 500;
			letter-spacing: 0.2rem;
			opacity: 0.25;
			font-size: clamp(1rem, 4vw, $HeaderFive);
		}
	}

	.image-container {
		margin: 3rem auto;
		width: 80%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			padding: 0 4rem;
		}
	}
}

.column-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	flex-shrink: 0;

	P {
		line-height: 2;
	}
	nav {
		display: flex;
		justify-content: center;
		font-family: barlow;

		ul {
			display: flex;
			align-items: center;
			gap: 2rem;
			list-style: none;
			padding: 1rem 0;

			li {
				display: flex;
				align-items: center;
				gap: 1rem;

				a {
					text-transform: uppercase;
					text-decoration: none;
					color: $secondary;
					font-weight: 400;
					letter-spacing: 0.168rem;
					border-bottom: 3px solid transparent;
					padding: 0.5rem 0;

					&:hover {
						border-bottom: 3px solid rgba(255, 255, 255, 0.5);
					}

					&:active {
						border-bottom: 3px solid white;
					}
				}
			}
		}
	}

	.planet-text-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	.rectangle {
		width: 100%;
		height: 0.0325rem;
		background-color: rgba(255, 255, 255, 0.212);
		margin: 2.5rem;
	}

	.distance-time {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2rem;

		> * {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 2rem;
			justify-content: center;
			flex-shrink: 0;
			font-family: bellefair;
		}

		.sub-header-one {
			font-size: $SubHeading1;
			color: white;
			font-weight: 200;
			padding: 0 2rem;
			display: flex;
		}

		.sub-header-two {
			color: #d0d6f9;
			font-size: $SubHeading2;
			font-weight: 200;
		}
	}
	.column-one {
		width: 100%;
		flex-shrink: 0;
		.pick-your-destination {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			color: white;
			margin: 1rem 0;

			span {
				font-size: 1.27rem;
				font-family: bellefair;
				font-weight: 500;
				letter-spacing: 0.2rem;
				opacity: 0.25;
				font-size: clamp(1rem, 4vw, $HeaderFive);
			}
		}

		.image-container {
			margin: 3rem auto;
			width: 80%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding: 0 4rem;
			}
		}
	}

	.column-two {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;
		flex-shrink: 0;

		P {
			line-height: 2;
		}
		nav {
			display: flex;
			justify-content: center;
			font-family: barlow;

			ul {
				display: flex;
				align-items: center;
				gap: 2rem;
				list-style: none;
				padding: 1rem 0;

				li {
					display: flex;
					align-items: center;
					gap: 1rem;

					a {
						text-transform: uppercase;
						text-decoration: none;
						color: $secondary;
						font-weight: 400;
						letter-spacing: 0.168rem;
						border-bottom: 3px solid transparent;
						padding: 0.5rem 0;

						&:hover {
							border-bottom: 3px solid rgba(255, 255, 255, 0.5);
						}

						&:active {
							border-bottom: 3px solid white;
						}
					}
				}
			}
		}

		.planet-text-container {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1rem;
			text-align: center;
		}

		.rectangle {
			width: 100%;
			height: 0.0325rem;
			background-color: rgba(255, 255, 255, 0.212);
			margin: 2.5rem;
		}

		.distance-time {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2rem;

			> * {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2rem;
				justify-content: center;
				flex-shrink: 0;
				font-family: bellefair;
			}

			.sub-header-one {
				font-size: $SubHeading1;
				color: white;
				font-weight: 200;
				padding: 0 2rem;
				display: flex;
			}

			.sub-header-two {
				color: #d0d6f9;
				font-size: $SubHeading2;
				font-weight: 200;
			}
		}
	}
	.column-one {
		width: 100%;
		flex-shrink: 0;
		.pick-your-destination {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			color: white;
			margin: 1rem 0;

			span {
				font-size: 1.27rem;
				font-family: bellefair;
				font-weight: 500;
				letter-spacing: 0.2rem;
				opacity: 0.25;
				font-size: clamp(1rem, 4vw, $HeaderFive);
			}
		}

		.image-container {
			margin: 3rem auto;
			width: 80%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding: 0 4rem;
			}
		}
	}

	.column-two {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 2rem;
		flex-shrink: 0;

		P {
			line-height: 2;
		}
		nav {
			display: flex;
			justify-content: center;
			font-family: barlow;

			ul {
				display: flex;
				align-items: center;
				gap: 2rem;
				list-style: none;
				padding: 1rem 0;

				li {
					display: flex;
					align-items: center;
					gap: 1rem;

					a {
						text-transform: uppercase;
						text-decoration: none;
						color: $secondary;
						font-weight: 400;
						letter-spacing: 0.168rem;
						border-bottom: 3px solid transparent;
						padding: 0.5rem 0;

						&:hover {
							border-bottom: 3px solid rgba(255, 255, 255, 0.5);
						}

						&:active {
							border-bottom: 3px solid white;
						}
					}
				}
			}
		}

		.planet-text-container {
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 1rem;
			text-align: center;
		}

		.rectangle {
			width: 100%;
			height: 0.0325rem;
			background-color: rgba(255, 255, 255, 0.212);
			margin: 2.5rem;
		}

		.distance-time {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
			gap: 2rem;

			> * {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2rem;
				justify-content: center;
				flex-shrink: 0;
				font-family: bellefair;
			}

			.sub-header-one {
				font-size: $SubHeading1;
				color: white;
				font-weight: 200;
				padding: 0 2rem;
				display: flex;
			}

			.sub-header-two {
				color: #d0d6f9;
				font-size: $SubHeading2;
				font-weight: 200;
			}
		}
	}
}
// For Tablets
@media screen and (min-width: 768px) {
	body {
		background: url(../assets/destination/background-destination-tablet.jpg)
			no-repeat center center/ cover;
	}
	.column-one {
		.pick-your-destination {
			justify-content: unset;
		}
	}
}
// For Desktop
@media screen and (min-width: 1050px) {
	body {
		background: url(../assets/destination/background-destination-desktop.jpg)
			no-repeat center center/ cover;
	}
	.destination-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0 2rem;
		width: fit-content;
		padding-bottom: 4rem;
	}

	.column-one {
		width: 50%;
	}
	.column-two {
		width: 50%;
	}

	.column-one {
		flex-shrink: 0;
		.pick-your-destination {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			color: white;
			margin: 1rem 0;

			span {
				font-size: 1.27rem;
				font-family: bellefair;
				font-weight: 500;
				letter-spacing: 0.2rem;
				opacity: 0.25;
				font-size: clamp(1rem, 4vw, $HeaderFive);
			}
		}

		.image-container {
			margin: 3rem auto;
			width: 80%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				padding: 0 4rem;
			}
		}
	}

	.column-two {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 5rem;
		flex-shrink: 0;

		P {
			line-height: 2;
		}
		nav {
			display: flex;
			justify-content: center;
			font-family: barlow;

			ul {
				display: flex;
				align-items: center;
				gap: 2rem;
				list-style: none;
				padding: 1rem 0;

				li {
					display: flex;
					align-items: center;
					gap: 1rem;

					a {
						text-transform: uppercase;
						text-decoration: none;
						color: $secondary;
						font-weight: 400;
						letter-spacing: 0.168rem;
						border-bottom: 3px solid transparent;
						padding: 0.5rem 0;

						&:hover {
							border-bottom: 3px solid rgba(255, 255, 255, 0.5);
						}

						&:active {
							border-bottom: 3px solid white;
						}
					}
				}
			}
		}

		.planet-text-container {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			gap: 1rem;
			text-align: left;
		}

		.rectangle {
			width: 100%;
			height: 0.0325rem;
			background-color: rgba(255, 255, 255, 0.212);
			margin: 2.5rem 0;
		}

		.distance-time {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: flex-start;
			gap: 2rem;

			> * {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2rem;
				justify-content: center;
				flex-shrink: 0;
				font-family: bellefair;
			}

			.sub-header-one {
				font-size: $SubHeading1;
				color: white;
				font-weight: 200;
				padding: 0;
				display: flex;
			}

			.sub-header-two {
				color: #d0d6f9;
				font-size: $SubHeading2;
				font-weight: 200;
			}
		}
	}
}
